{% extends 'base.html' %}
{% load static %}
{% block page %}
    <!--Create Page-->
    {% if request.user.is_authenticated %}
    <section class="createPage">
        <form action="{% url 'create author' %}" method="post">
            <fieldset>
                <legend>Author</legend>
                <div class="container">
                    {{ form }}
                    {% csrf_token %}
                    <!-- Button for Save -->
                    <button class="add-album" type="submit">Add Author</button>

                </div>
            </fieldset>
        </form>
    </section>
    {% endif %}
{% endblock %}