{% extends 'base.html' %}
{% load static %}
{% block page %}
    <!-- Delete Profile Page-->
    {% if request.user.is_authenticated %}
    <section id="detailsPage">
        <div class="wrapper">
            <div class="profileText">

                <!-- Delete Profile Form -->
                <h1>Are you sure you want to delete your profile?</h1>
                <form action="{% url 'delete profile' pk=request.user.pk %}" method="post">
                    {{ form }}
                    {% csrf_token %}
                    <!-- Confirm Button -->
                    <button class="delete-profile" type="submit">Delete</button>
                </form>
                <!-- End Delete Profile Form -->

            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}