.wrapper {
  max-width: 1200px;
  min-height: 330px;
  max-height: 600px;
  min-width: 600px;
  margin: 50px auto;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 25px;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.imgWrapper {
  min-width: 100px;
  min-height: 150px;
  margin-right: 150px;
}
.img {
  overflow: hidden;
  object-fit: contain;
  width: 180px;
  height: 300px;
}
.text {
  margin: auto 55px;
  width: 600px;
}
.title {
  text-align: center;
}
.subTitle {
  text-align: center;
  text-decoration: overline;
  font-size: x-large;
  font-family: Cambria;
}
.textEl {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
.buy {
  margin: 5px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.price {
  font-size: 25px;
  color: red;
  font-weight: 700;
}

.button {
  position: absolute;
  bottom: -20px;
  left: 120px;
  min-width: 500px;
  text-align: center;
  border: 1px solid white;
  border-radius: 18px;
  color: #fff;
  text-shadow: 1px 1px #b6b7b8;
  background: linear-gradient(to right, #f1dbd2 0%, #f8ede9 100%);
  font-size: 20px;
  padding: 8px 60px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
}
