.wrapper {
  max-width: 1550px;
  background-image: url(image/login.png);
  background-color: #cccccc;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formLoginWrapper {
  width: 350px;
  height: 350px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

}
.elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.registerLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.p {
  margin-top: 20px;
  margin-bottom: 3px;
  text-decoration: none;
}
.button {
  text-align: center;
  border: 1px solid white;
  border-radius: 18px;
  color: #fff;
  text-shadow: 1px 1px #b6b7b8;
  background: linear-gradient(to right, #f1dbd2 0%, #f8ede9 100%);
  font-size: 20px;
  padding: 8px 60px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
}

.emailInput {
  border: 5px solid;
  border-radius: 32px;
  border-color: #fbf4f1;
}
.email {
  border: transparent;
  border-radius: 18px;
  font-size: 20px;
}


.icon {
  display: inline-block;
  margin: 10px;
  color: #f1dbd2;
}
.passwordInput {
  border: 5px solid;
  border-radius: 32px;
  border-color: #fbf4f1;
}
.password {
  border: transparent;
  border-radius: 18px;
  font-size: 20px;
}
.linkRegister {
  text-decoration: none;
  color: #f1dbd2;
  font-weight: 700;
}
.userIcon{
    width: 100px;
    position: absolute;
    top:-60px;
    left: 130px;
    background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 48px;
}
